

#aqui colocare ca configuración de  las varible de ntorno como se esperaría 
  
# DIRECCION DE LA URL DE LA BADE DE DATOS DE MONGO

MONGODB=mongodb://localhost:27017/nest-pokemon

#DIRECCION DEL PUERTO. EL LO REGRESA COMO UN STRING ,RECUREDE CONVERTILO A UN NÚMERO.
PORT=3000

#DEfinimos el limite de pokemos se mostraran si no se le indica cuantos se mosraran
DEFAULT_LIMIT=10

#  datos de estas variables que no se debe tener porque estas son personales por lo que nos se dben subir a github
SECRET_KEY=
JWT_SEED=

#Esto es un procemoneto para qu mi aplicación funcione, hay que colocarlolo en el README.md"